/.idea
/.vscode
/__pycache__
app/database.db
config.py
email_example.py
album_test.py
test.py
app/__pycache__/sql.cpython-313.pyc
app/__pycache__/sql.cpython-313.pyc
app/__pycache__/__init__.cpython-313.pyc
